body {
    background:url(Myproject/HTML/unid.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*font-family: 'Courier New', Courier, monospace;*/
}

.cl-div{
    background: rgba(0,0,0,0.4);
    background-size: cover;
    margin: -8px;
  text-align: center;
  }

ul{
    display: inline-flex;
    list-style: none;
    padding-left: 760px;
    

}

li{
    width: 170px;
    margin: 5px;
    padding: 5px;
    font-size: large;
    
}

a{
    text-decoration: none;
    color:rgb(12, 11, 11);
}

.active, ul li:hover{
    
    
    border-radius: 5px;
    background-color: rgb(246, 246, 250);



    

}


.div-reg{
    margin: 0 auto;
    border-style: groove;
    text-align: center;
    background: rgb(41, 40, 40);
    color: white;
    width: 600px;
    height: 670px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 15px;

}
label{
    width: 120px;
    display: inline-block;
    text-align: left;
    border-radius: 6px;
    
}
input[type="date"]{
    width: 160px;
    display: inline-block;
    border-radius: 6px;
    height: 25px;
}
select{
    width: 160px;
    border-radius: 6px;
}
textarea{
    vertical-align: text-bottom;
    border-radius: 6px;
}
.submit{
    padding: 5px;
    width: 150px;
    background-color: gainsboro;
    border-radius: 6px;
    font-size: large;
}
::placeholder{
    font-family: 'Times New Roman', Times, serif;
}
input[type="text"]{
    padding: 5px;
    border-radius: 6px;
    height: 15px;
}
.textbox{
    padding: 3px;
    width: 165px;
    border-radius: 5px;
    height: 28px;
}
